<html>
    <body>
        {% for p in posts %}
            {% if p %}
                <h2>{{ p.title }}</h2>
                <i>Posted on: {{ p.date }}</i>
                <p>{{ p.body }}</p>
                <form action="/destroy" method="post">
                    <input type="hidden" name="post_key" value="{{p.key}}" />
                    <input type="submit" value="Remove Post">
                </form>
                <form action="/start_edit" method="post">
                    <input type="hidden" name="post_key" value="{{p.key}}" />
                    <input type="submit" value="Edit Post">
                </form>
                <br/>
            {% endif %}
        {% endfor %}

        <form action="/add" method="post">
            <h3> Add a Post: </h3>
            <div>Title: &nbsp;<input type="text" name="title" size="80"></div>
            <div>Body: <textarea rows="10" cols ="100" name="body" ></textarea></div>
            <div> <input type="submit" value="Add"> </div>
        </form>

    </body>
</html>
